<div class="card">
    <div class="card-header">
        <table class="table table-bodered">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Password</td>
                    <td>Fullname</td>
                    <td>Email</td>
                    <td>Role</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="float-end">
                        <div class="center" style="margin-top: 50px;">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" ng-click="first()">
                                        <i class="fa-regular fa-hand-point-up" style="color: #74c0fc"></i></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" ng-click="prev()">
                                        <i class="fa-regular fa-hand-point-left" style="color: #74c0fc"></i></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" ng-click="next()">
                                        <i class="fa-regular fa-hand-point-right" style="color: #74c0fc"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" ng-click="last()">
                                        <i class="fa-regular fa-hand-point-down" style="color: #74c0fc"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>